/*TODO make CSS to make ratings look like stars*/
/*Don't judge me please im bad at css*/
body {
    background-color: #1a91c0;
    font-family: Arial, sans-serif;
}

h3 {
    color: rgb(37, 22, 239);
}

h2{
    color:rgb(5, 47, 138);
}

.question {
    font-weight: bold;
}